.contact {
    border-bottom: 5px solid $primary-color-light;
    padding-bottom: 1rem;

    h1 {
        color: $second-color;
        font-family: $menu-font-family;
        border-bottom: 5px solid $primary-color-light;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    h2 {
        color: $primary-color;
        text-transform: uppercase;
        font-family: $menu-font-family;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;

        &__form {
            display: flex;
            flex-direction: column;
            flex: 1 1 30rem;

            button {
                background-color: $second-color;
                color: white;
                font-size: $big-text;
                width: 10rem;
                font-family: $menu-font-family;
                margin: 2rem 0rem 0rem 5rem;
                border-radius: 5px;
            }
        }

        &__other {
            display: flex;
            flex-direction: column;
            flex: 1 1 30rem;
        }
    }

    &__form {
        //display: flex;
        //flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem;

        label {
            color: $primary-color;
            font-size: $text;
        }

        input,
        textarea {
            background: $primary-color-light2;
            font-size: $text;
            color: $primary-color;
            margin-right: 1rem;
            padding: 1rem;
        }

        .input-container {
            display: flex;
            flex-direction: column;
        }

        .message-container {
            display: flex;
            flex-direction: column;
            grid-column: 1/3;
        }

    }

    &__other {
        display: flex;
        margin: 2rem;

        img {
            flex: 1 1 10rem;
            width: 100%;
        }

        &__info {
            flex: 2 1 20rem;
            display: flex;
            flex-direction: column;
            margin: 1.5rem;

            h4 {
                color: $primary-color;
            }

            p {
                color: $primary-color-light;
                font-size: $text;
            }

            a {
                font-size: $text;
                text-decoration: underline;
                color: $second-color;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .contact {


        &__other {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 600px) {
    .contact {


        &__other {
            flex-direction: column;
        }

        &__form {
            .input-container {
                grid-column: 1/3;
            }

            .message-container {
                width: 100%;
            }

            button {
                align-self: center;
            }
        }


    }

}