footer {
    display: flex;
    justify-content: space-between;

    margin: 1rem 0rem;

    p {
        color: $primary-color-light;
        font-size: $text;
    }

    ul {
        display: flex;
    }

    img {
        width: 3rem;
        margin: 1rem;
    }
}