*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Hind Med';
  src: url(/fonts/Hind-Medium.ttf);
}

@font-face {
  font-family: 'Antonio';
  src: url(/fonts/antonio.light.ttf);
}

@font-face {
  font-family: 'Hind Reg';
  src: url(/fonts/Hind-Regular.ttf);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: url(/img/background.png);
  background-repeat: repeat;
  font-family: $main-font-family;
}

h1 {
  font-size: $header1;
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $header3;
}

h4 {
  font-size: $header4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}