.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__logo {
    margin-left: 5rem;
    padding: 2rem;
    flex: 2 1 40rem;

    h1 {
      color: $gray_text;
      text-decoration: underline;
      line-height: 2.7rem;
    }
    h4 {
      color: $red_text;
    }
  }

  nav {
    margin: 2rem 7rem 2rem 2rem;
    flex: 1 1 25rem;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0px;
      color: $gray_text;
      font-size: $text;
    }
  }
}
