.header {
  font-family: $menu-font-family;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0rem auto;

  &__logo {
    padding: 2rem;
    flex: 2 1 40rem;

    h1 {
      color: $primary-color;
      text-decoration: underline;
      line-height: 2.7rem;
    }

    h4 {
      color: $second-color;
      margin: 0.2rem;
    }
  }

  nav {
    flex: 1 1 25rem;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0px;
      color: $primary-color;
      font-size: $big-text;
    }
  }
}