$header1: 4rem;
$header2: 3rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 1.8rem;
$big-text: 2.5rem;

$primary-color: rgb(140, 140, 140);
$primary-color-light: rgb(170, 170, 170);
$second-color: rgb(209, 67, 67);


$main-font-family: 'Hind Reg';
$menu-font-family: 'Antonio';

@import 'global';
@import 'header';
@import 'about';
@import 'work';